{
  "extends": "stylelint-config-suitcss",
  "rules": {
    "selector-pseudo-element-colon-notation": "single",
    "declaration-block-properties-order": null,
    "max-empty-lines": 2,
    "number-leading-zero": "never",
    "rule-nested-empty-line-before": "never"
  }
}
